.root {
  :global(.react-codemirror2 .CodeMirror) {
    border: none;
    border-radius: 0;
  }

  :global(.cf-tabs-panel__body) {
    height: 100%;
  }

  :global(.cf-panel-tabs__tab) {
    color: var(--color-neutral-content-subtler);
  }

  :global(.cf-panel-tabs__tab_active) {
    transform: none;
    border-width: 0;
    color: var(--color-neutral-content);
    box-shadow: 1px -1px 0 rgba(var(--color-neutral-shadow-raw) / 4%), -1px -1px 0 rgba(var(--color-neutral-shadow-raw) / 4%);
  }

  :global(.cf-tabs__tabs-row) {
    border: none;
  }

  :global(.cf-sidepanels_collapsed .cf-sidepanels__wrapper .cf-tabs__contents) {
    border: none;
  }

  :global(.cf-sidepanels_collapsed) {
    flex: 1;
  }

  :global(.cf-wrapper) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  :global(.cf-editor) {
    min-width: 320px;
    width: 100%;
  }
}

body {
  overflow: hidden;
}